:root {
  --color-cyan: #00e0f3;
  --spacing: 0.5em;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.layout-padding {
  padding: 5rem 0;
}

.flow-content > * + * {
  margin-top: var(--spacing);
}

/* //* =========================== HEADER  ========================= */

header {
  /* height: 65px; */
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: sticky;
  top: 0;
  z-index: 10;
}

.topnav {
  /* height: 65px; */
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}

.topnav.flow-content {
  --spacing: 0.5em;
}

.topnav a {
  /* float: left; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: border-radius 200ms ease;
  transition-delay: 20ms;
}

.topnav a:hover {
  background-color: white;
  color: rgb(33, 148, 168);
  border-radius: 10px;
}

.topnav a.active {
  background-color: #00e0f3;
  color: #023b3f;
}

.topnav .icon {
  display: none;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

@media (min-width: 600px) {
  .topnav.flow-content {
    --spacing: 0px;
  }
  .topnav a {
    float: left;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
}
/* //* =========================== END HEADER  ========================= */

/* //* =========================== SECTION PROFILE  ========================= */
#profile {
  background-color: #222;
  color: white;
}

.profile {
  text-align: center;
}

.profile h2 {
  font-size: 2em;
  color: var(--color-cyan);
}

.cards {
  margin-top: 2rem;
}

.card__img {
  position: relative;
}

.card__caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0.5em;
}

.card__caption h3 {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--color-cyan);
}

.card__dom {
  font-size: 0.8rem;
}

.card__caption {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  pointer-events: none;

  transition: transform 200ms ease, opacity 100ms ease;
}

.card__img:hover .card__caption {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: initial;
  transition: transform 100ms ease, opacity 50ms ease;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.card {
  flex-basis: 100%;
}

@media (min-width: 600px) {
  .card {
    flex-basis: calc(100% / 2 - 2em);
  }
}

@media (min-width: 900px) {
  .card {
    flex-basis: calc(100% / 3 - 2em);
  }
}

/* //* =========================== END SECTION PROFILE  ========================= */
